doctype html
html(lang='en')
  head
    h1=title2
    p Welcome to #{title2}
    style.
        label {
         margin: 20px auto;
         border:1px #eaeaea solid;
         width:80%;
         height:200px; }
        textarea {
         margin: 20px auto;
         border:1px #eaeaea solid;
         width:80%;
         height:200px;}
        #input {
         margin-bottom: auto;
         margin-top: auto;
         position: relative;
         top: 50%; 
         left: 50%;
         vertical-align:text-top;}
body
  form(action="/chemistryInput", enctype="multipart/form-data", method="POST") 
    div
      label 标题
      input(type='text',name="title",placeholder="请输入标题") 
    div
      label(style="color:blue; text-align:bottom") 请输入内容
    div
      textarea(type='text',name="content", placeholder="请输入内容", cols=50, rows=20) 
    div
      label 请输入解析内容
    div
      textarea(type='text',name="analysis", placeholder="请输入解析内容", cols=50, rows=20) 
    div
      input(type='file',name="fileupload",multiple="multiple", value="图片只能为png格式")
    div
      input#input(type='submit', value='提交') 








