

block content
  h1= title2
  p Welcome to #{title2} 
 
form(action="/upload", enctype="multipart/form-data", method="POST")
  input(type='file',name="fileupload",multiple="multiple", value="图片只能为png格式") 
  input(type='text',name="text",multiple="multiple") 
  input(type='radio',name="radio",multiple="multiple") 
  div
     label width
     input(type='text',name="width",placeholder="请输入宽度") 
  div
     label heigth
     input(type='text',name="height", placeholder="请输入高度") 
  div
     label color
     input(type='text',name="color",placeholder="请输入颜色") 
  input(type='button',name="button",multiple="multiple") 
  input(type='checkbox',name="checkbox",multiple="multiple") 

  input(type='submit', value='submit file')


div.container.flow#container Container
a(class="btn", href='javascript:;', titile='submit') Button